* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(135deg, #264968 10%, #45a94da8 100%);
  color: rgba(255, 255, 255, 0.823);
  font-family: "Patrick Hand", cursive;
}

/* header */
header {
  position: sticky;
  top: 0rem;
}
header h1 {
  background-image: linear-gradient(135deg, #f86560 10%, #725b0e 100%);
  margin-bottom: 2rem;
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
}

/* section */
section {
  width: 80%;
  height: 20%;
  margin: auto;
  padding: 1.3rem;
  margin-bottom: 4rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
section .box {
  display: flex;
  gap: 1rem;
  text-align: right;
}
section .box h1 {
  text-align: left;
  padding-bottom: 1rem;
  font-size: 2rem;
}
p {
  margin-bottom: 1rem;
  text-indent: 1.4rem;
  text-align: left;
  font-size: 1.2rem;
}
